<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Timesheet.Properties.Settings.timesheetConnectionString"
            connectionString="server=localhost;port=3306;user id=root;password=root;persistsecurityinfo=True;database=timesheet"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>