<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Timesheet.Properties.Settings.dbConnectionString"
            connectionString="Data Source=|DataDirectory|\timesheet.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="Timesheet.Properties.Settings.timesheetConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=timesheet"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>